_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
qc/
series/
#eeg_paper_research/
eeg_paper_research/downloaded_papers/
eeg_paper_research/notebooklm_workspace/**/pdfs/
*.pyc
__pycache__/